$landscapeAuthContentMaxWidth: 31.4375rem;
$portraitContentMaxWidth: 27rem;
$portraitHeaderHeight: 3rem;
$defaultCardGradient: #479DE2 0, #367CCC 100%;

// Card
$cardAspectRatio: 58.203%;
$cardPortraitBaseBalanceSize: 3.25rem;
$cardLandscapeBaseBalanceSize: 3rem;

// Transaction modal heights
$transactionModalHeight: 38.5rem;
$transactionModalMaxWidth: 24rem;

$byChain: (
  ton: (
    tabColor: var(--color-activity-blue),
    tabBackground: var(--color-activity-blue-background),
  ),
  tron: (
    tabColor: var(--color-activity-red-text),
    tabBackground: var(--color-activity-red-background),
  ),
);
