.modalDialog {
  overflow: hidden;
  max-width: 25rem;
  padding: 0;
  background: transparent;
}

.content {
  height: 100%;
  padding: 0;
}

.background {
  isolation: isolate;
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100%;

  background: var(--promo-modal-bg);
  background-position: center;
  background-size: cover;
}

.header {
  position: absolute !important;
  z-index: 1;
  width: 100%;
  background: transparent;
}

.closeButton {
  color: #FFFFFF !important;
  background: rgba(255, 255, 255, 0.5) !important;
}

.surface {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1rem 1.25rem;
}

.hero {
  transform: translateX(-1rem);

  overflow: hidden;

  aspect-ratio: 16 / 9;
  width: calc(100% + 2rem);
  border-radius: var(--border-radius-default);

  &_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  color: var(--promo-title-color, var(--color-card-text));
}

.description {
  margin: 2rem 0 0;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--promo-description-color, var(--color-card-second-text));
  white-space: pre-line;
}

.title, .description {
  text-align: center;
}

.availabilityIndicator {
  position: unset;
  width: 100%;
  margin-top: 2rem;
}

.actionButton {
  width: 100% !important;
  max-width: 100% !important;
  margin-top: 2rem;
}
