@use "../../../../styles/mixins";

@use "../../../../styles/scssVariables" as v;

$landscapeActionsGap: 0.75rem;
$landscapeActionsButtonWidth: 1.375rem;

.header {
  z-index: var(--z-header);

  @include mixins.respond-below(xs) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      width: 100%;

      @include mixins.transition('bottom 150ms, background-color 300ms ease-out');
    }

    :global(html.is-electron) & {
      top: var(--electron-header-height);
    }

    @include mixins.separatorBottom();

    &::after {
      opacity: 0;

      @include mixins.transition('bottom 150ms, opacity 200ms');
    }

    &.isScrolled {
      &::before {
        background-color: var(--color-background-tab-bar);
        backdrop-filter: saturate(180%) blur(20px);
      }

      &::after {
        opacity: 1;
      }
    }

    &.isScrolled.areTabsStuck::after,
    &.areTabsStuck::before {
      bottom: calc(-1 * #{v.$portraitHeaderHeight});
    }

    // Fix for Opera, dead zone of 37 pixels in extension window on Windows
    :global(html.is-windows.is-opera.is-extension) & {
      padding-top: 1.875rem;
    }
  }

  @include mixins.respond-above(xs) {
    position: relative;
    margin-bottom: 0.75rem;
    border-radius: var(--border-radius-default);
    background-color: var(--color-background-first);
  }
}

.headerInner {
  position: relative;

  max-width: v.$portraitContentMaxWidth;
  height: calc(#{v.$portraitHeaderHeight} + var(--safe-area-top, 0px));
  margin: 0 auto;
  padding-top: var(--safe-area-top);

  @include mixins.respond-above(xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: auto;
    padding: 0 0.8125rem;
  }
}

.chartCardHeader {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 100%;
  padding: calc(0.625rem + var(--safe-area-top, 0px)) 2.75rem 0.625rem;

  @include mixins.respond-above(xs) {
    padding: 0.75rem 2.75rem;
  }
}

.chartCardBackButton {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(calc(var(--safe-area-top, 0px) / 2 - 50%));

  display: inline-flex;
  align-items: center;

  padding: 0 0.5rem;

  font-size: 1.0625rem;
  line-height: 1.25rem;
  color: var(--color-accent);
}

.chartCardBackIcon {
  font-size: 1.5rem;
  line-height: 1;
}

.tokenModeTabsWrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  min-width: 0;
}

.tokenModeTabs {
  --tab-gap-size: 0.5rem;

  width: fit-content;
}

.tokenModeTitle {
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--color-black);
  text-align: center;
}

.landscapeActions {
  display: flex;
  flex-shrink: 0;
  gap: $landscapeActionsGap;
  align-items: center;

  height: 1.375rem;
}

.landscapeActionsStart {
  justify-content: flex-start;
}

.landscapeActionsEnd {
  justify-content: flex-end;
}

.landscapeActionsButtons2 {
  width: calc($landscapeActionsButtonWidth * 2 + $landscapeActionsGap);
}

.landscapeActionsButtons3 {
  width: calc($landscapeActionsButtonWidth * 3 + $landscapeActionsGap * 2);
}

.portraitActionsRight,
.portraitActionsLeft {
  position: absolute;
  z-index: 1;
  top: calc(0.75rem + var(--safe-area-top, 0px));

  display: flex;
  gap: 1rem;
  align-items: center;

  width: fit-content;
  height: 1.5rem;
}

.portraitActionsRight {
  right: calc(1rem + var(--safe-area-right, 0px));
}

.portraitActionsLeft {
  left: calc(1rem + var(--safe-area-left, 0px));
}

.openLink {
  display: inline-flex;
  gap: 0.375rem;
  align-items: center;

  height: 2rem;
  padding: 0 0.75rem 0 0.5rem;
  border-radius: var(--border-radius-default);

  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--color-accent-button-text);
  text-decoration: none !important;

  background-color: var(--color-accent-button-background);

  &:hover,
  &:focus-visible {
    color: var(--color-accent-button-text-hover);
    background: var(--color-accent-button-background-hover);
  }

  @include mixins.transition('color 200ms, background-color 200ms');
}
