@use "../../../../styles/mixins";

.root {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
  border-radius: var(--border-radius-default);

  background-color: var(--color-background-first);
}

.item {
  position: relative;

  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;

  width: 100%;
  min-height: 3.5rem;
  padding: 0.75rem;

  color: var(--color-black);

  &:first-child {
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
  }

  &:last-child {
    border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
  }

  @include mixins.transition('background-color 200ms');

  @media (hover: hover) {
    &:focus-visible,
    &:hover {
      background-color: var(--color-interactive-item-hover);
    }
  }

  @media (pointer: coarse) {
    &:active {
      background-color: var(--color-interactive-item-hover);
    }
  }

  &:not(:last-child)::after {
    @include mixins.separator-list-base(bottom, 3.875rem);
  }
}

.itemAvatar {
  flex-shrink: 0;

  width: 2.5rem;
  height: 2.5rem;

  font-size: 0.8125rem;
  font-weight: 900;
  line-height: 1rem;
}

.itemButton {
  gap: 1.25rem;
  justify-content: flex-start !important;

  height: 3.125rem;
  min-height: auto;
  padding-inline-start: 1.125rem !important;

  font-size: 0.9375rem !important;
  color: var(--color-accent);
}

.itemIcon {
  font-size: 1.5rem;
  line-height: 1;
}
