.passwordFormContent {
  padding: 0 !important;
}

.passwordFormContentInModal {
  padding: 0 1rem 1rem;

  @supports (padding-bottom: var(--safe-area-bottom)) {
    padding-bottom: max(var(--safe-area-bottom), 1rem);
  }
}
