@use "../../styles/mixins";

.content {
  padding: 0 0 1rem;
  background: transparent;
}

.modalDialog {
  $modalHeight: 36.5rem;

  overflow: hidden;
  height: $modalHeight;

  @supports (height: var(--safe-area-bottom)) {
    height: calc($modalHeight + var(--safe-area-bottom));
  }

}

.modalHeader {
  position: sticky;
  z-index: 10;
  top: 0;
  background: transparent;

  @include mixins.transition('background-color 300ms, backdrop-filter 300ms');

  :global(html.animation-level-0) & {
    transition: none !important;
  }

  &:global(.is-scrolled) {
    @supports (backdrop-filter: saturate(180%) blur(20px)) {
      background-color: var(--color-background-first-blur);
      backdrop-filter: saturate(180%) blur(20px);
    }
  }
}

.transition {
  // Values are in pixels here for easier changes in the future.
  // This is a hack to prevent unnecessary y scroll because the top of the modal content
  // is not a part of the transition
  $rem: 16px;
  $headerHeight: calc(62px / $rem * 0);
  $threePreviewCardsHeight: calc(176px / $rem);
  $threePreviewCardsPaddingTop: calc(24px / $rem);
  $threePreviewCardsPaddingBottom: calc(32px / $rem);
  $modalPaddingBottom: calc(16px / $rem);
  $constantHeight: $headerHeight + $threePreviewCardsHeight + $threePreviewCardsPaddingTop + $threePreviewCardsPaddingBottom + $modalPaddingBottom;

  height: calc(100% - $constantHeight * 1rem);
}

.section {
  margin-top: 2rem;
  padding: 0 1rem;
  &:last-child {
    padding-bottom: 1rem;
  }
}

.sectionSelectCard {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;
  padding: 0.75rem;
  padding-top: 0.875rem;
  border-radius: 1rem;

  background: var(--color-background-first);
  &:before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40%) rotate(45deg);

    width: 1.125rem;
    height: 1.125rem;
    border-radius: 0.25rem;

    background: var(--color-background-first);
  }
}

.loading {
  justify-content: center;
  height: 20vh;
}

.sectionTitle {
  margin: 0 0 1rem;

  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-gray-2);
}

.sectionHeader {
  margin: 0 0.5rem 0.375rem 0.5rem;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--color-gray-2);
}

.emptyTitle {
  margin: 0.5rem 0 0;

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--color-black);
}

.helperTextOutside {
  margin: 0.375rem 0.5rem 0;

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: var(--color-gray-2);
}

.helperTextInside {
  margin: 1rem 0 0;

  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-2);
  text-align: center;
}

.getMoreButton {
  cursor: var(--custom-cursor, pointer);

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1.25rem;
  padding: 1rem;
  border-radius: 1rem;

  background: var(--color-background-first);

  @include mixins.transition('background 0.15s');

  &:hover {
    background: var(--color-background-secondary-hover);
  }
}

.getMoreText {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-accent);
}

.iconChevronRight {
  font-size: 1.25rem;
  color: var(--color-text-secondary);
}

.applyButton {
  width: 100%;
  max-width: 100% !important;
  margin-top: 1rem;
}

.walletCardPreviews {
  position: relative;
  width: 100%;
  height: var(--preview-card-height);
  margin-top: 1.5rem;
}
