@use "../../../../styles/scssVariables" as v;

.root {
  pointer-events: none;

  isolation: isolate;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-width: 16rem;
  height: 0;
  padding-top: v.$cardAspectRatio;

  &.sticky {
    --border-radius-card: 0;

    min-width: auto;
    height: 100%;
    padding-top: 0;
  }

  &:not(.sticky)::before {
    content: "";

    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* stylelint-disable-next-line plugin/whole-pixel */
    padding: 1.5px;
    border-radius: var(--border-radius-card);

    background: radial-gradient(10.48% 50.24% at 50% 100.43%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(258.69deg, rgba(140, 148, 176, 0.5) 33.2%, rgba(186, 188, 194, 0.85) 48.38%);

    /* Trim so that the gradient appears only on the borders */
    mask:
      linear-gradient(to right, #FFF 0%, #FFF 100%) content-box,
      linear-gradient(to right, #FFF 0%, #FFF 100%);

    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:global(.MtwCard__black)::before {
    padding: 2px;
  }

  &:global(.MtwCard__standard) {
    background-clip: border-box, content-box;
    background-origin: border-box, content-box;
    background-size: cover, cover;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-card);

  object-fit: cover;
  object-position: center;
}

// Card's border with shine
.borderShine_down::before {
  background-image: radial-gradient(10.43% 49.81% at 50% 100%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.69deg, rgba(140, 148, 176, 0.5) 33.2%, rgba(186, 188, 194, 0.85) 48.38%) !important;
}

.borderShine_left::before {
  background-image: radial-gradient(50% 28.86% at 0% 50.19%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.69deg, rgba(140, 148, 176, 0.5) 33.2%, rgba(186, 188, 194, 0.85) 48.38%) !important;
}

.borderShine_up::before {
  background-image: radial-gradient(10.51% 50.19% at 50% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.69deg, rgba(140, 148, 176, 0.5) 33.2%, rgba(186, 188, 194, 0.85) 48.38%) !important;
}

.borderShine_right::before {
  background-image: radial-gradient(50% 28.86% at 100% 50.19%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.69deg, rgba(140, 148, 176, 0.5) 33.2%, rgba(186, 188, 194, 0.85) 48.38%) !important;
}

.borderShine_radioactive::before {
  background-image: linear-gradient(to bottom, #5CE850 0%, #5CE850 100%) !important;
}

:global(.MtwCard__black)::before {
  background-image: radial-gradient(28.79% 49.81% at 73.98% 0.37%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.61deg, rgba(255, 255, 255, 0.12) 33.38%, rgba(255, 255, 255, 0.24) 48.39%) !important;

  :global(html.theme-dark) & {
    background-image: radial-gradient(28.79% 49.81% at 73.98% 0.37%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                      linear-gradient(258.61deg, rgba(255, 255, 255, 0.06) 33.38%, rgba(255, 255, 255, 0.12) 48.39%) !important;
  }
}

:global(.MtwCard__platinum)::before {
  background-image: radial-gradient(23.98% 49.81% at 73.98% 0.37%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.61deg, rgba(119, 119, 127, 0.5) 33.38%, rgba(255, 255, 255, 0.5) 48.39%) !important;
}

:global(.MtwCard__gold)::before {
  background-image: radial-gradient(23.98% 49.81% at 73.98% 0.37%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.61deg, rgba(76, 52, 3, 0.5) 33.38%, rgba(176, 125, 29, 0.5) 48.39%) !important;
}

:global(.MtwCard__silver)::before {
  background-image: radial-gradient(23.98% 49.81% at 73.98% 0.37%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                    linear-gradient(258.61deg, rgba(39, 39, 39, 0.5) 33.38%, rgba(152, 152, 152, 0.5) 48.39%) !important;
}
