@use "../../../../styles/mixins";

@use "../../../../styles/scssVariables" as *;

.modalDialog {
  overflow: hidden;
  height: $transactionModalHeight;

  @supports (height: var(--safe-area-bottom)) {
    height: calc($transactionModalHeight + var(--safe-area-bottom));
  }

  @media (min-width: 416.01px) {
    max-width: $transactionModalMaxWidth;
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 20rem;
}

.scrollableContent {
  @include mixins.adapt-padding-to-scrollbar(1rem, !important);
}

.rootTransition {
  scrollbar-gutter: stable;
}

.explorerSlide {
  background-color: var(--background-color);
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 10rem;

  color: var(--color-gray-2);
}

.activityList {
  padding: 1rem !important;
  padding-top: 0 !important;

  @include mixins.adapt-padding-to-scrollbar(1rem, !important);
}

.activityListContainer {
  overflow: hidden;
  border-radius: var(--border-radius-default);
  background-color: var(--color-background-first);
}

.activityItem {
  position: relative;

  display: flex;
  align-items: center;

  padding-right: 2rem;

  transition: background-color 150ms;

  &:hover, &:focus-visible {
    --color-background-first: var(--color-interactive-item-hover);

    cursor: var(--custom-cursor, pointer);
    background-color: var(--color-background-first);
  }

  :global(.item)::after {
    display: none;
  }
}

.activity {
  padding-right: 0.25rem;
}

.activityItem + .activityItem {
  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    left: 3.75rem;

    height: 0.0625rem;

    box-shadow: inset 0 -0.025rem 0 0 var(--color-separator);
  }
}

.activityArrow {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
  color: var(--color-gray-3);
}
